.veille{
    padding: 59px 2.5% 0 2.5%;
    background-color: white;
    grid-area: vei;
    text-align: justify;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 50px 110px auto;
    gap: 1%;
    grid-auto-flow: row;
    justify-content: space-around;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
    "tittle tittle"
    "answer answer"
    "mine outils";
}

.answer{
    grid-area: answer;
    margin-top: 15px;
}
.mine{
    grid-area: mine;
    margin-top: 15px;
}
.mine h1, .mine h2{
    text-decoration: underline;
}
.mine p{
    margin: 15px 0 15px 0;
}
.outils{
    grid-area: outils;
}
.outils h1{
    text-decoration: underline;
}
.outils p{
    margin-top: 15px;
}
