*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: black;
}
body::-webkit-scrollbar{
    display: none;
}
body{
    position: absolute;
    background-color: antiquewhite;
}

nav{
    height: 59px;
    width: 100%;
    position: fixed;
    background-color: white;
}
.nav_list{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 35px;
}
.nav_item{
    padding: 0 20px 0 20px;
    height: 100%;
    transition-duration: 0.5s;
}
.nav_item a, .nav_item_end a{
    font-size: 31px;
}
.nav_item_first{
    padding: 0 20px 0 0;
    transition-duration: 0.5s;
}
.nav_item_end{
    padding: 0 0 0 20px;
    transition-duration: 0.5s;
}
.nav_item_first img{
    width: 35px;
}

.nav_item:hover, .nav_item_first:hover, .nav_item_end:hover{
    /*text-decoration: underline;*/
    transform: translateY(20%);
    transition-duration: 0.5s;
}
.nav_item_first:active, .nav_item:active, .nav_item_end:active{
    transform: translateY(20%);
    transition-duration: 0.5s;
}